body{
  margin: 0;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  size: 10px;
  line-height: 1.5em;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 8px #000000;
}

.bgimg { 
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  opacity: 0.8;
  z-index: -1;
}

.nav-bar {
  /* background-color: rgb(25, 33, 41); */
  width: 100%;
  position: fixed;
  padding: 14px 0px 14px;
  text-decoration: none;
  font-size: 1.25em;
  background-color:rgba(12, 77, 116, 0.75);
  /* border-radius: 15px; */
}

.nav-bar-ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  }

  h1 {display: flex;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    /* color: rgb(255, 255, 255);
    text-shadow: 5px 5px 8px #000000; */
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2.5em;
  }

  #home {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
  }

  #about{
    padding-top: 200px;
    padding-bottom: 50px;
  }


  .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 50px;
  }

  #projects{
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .projects-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30rem;
  }

  .p1Div,
  .p2Div,
  .p3Div {
    height: 15rem;
    width: 20rem;
    background-color: rgba(97, 155, 152, 0.534);
    border-radius: 50px;
    box-shadow: 0px 14px 50px rgba(14, 17, 196, 0.514);
    text-align: center;
    padding-top: 100px;
  }

  .p1Div:hover{
    box-shadow: 0px 14px 40px rgb(160, 20, 20);
  }
  
  .p2Div:hover{
    box-shadow: 0px 14px 40px rgb(228, 141, 27);
  }

  .p3Div:hover{
    box-shadow: 0px 14px 40px rgb(211, 214, 23);
  }

  .projects-list h3{
    text-align: center;
  }

  #contact{
    margin-top: 150px;
  }

  h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contact-header{
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .contact-logos{
    justify-content: center;
  }

  .contact-logos ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    list-style: none;
  }

  .fa-github {
    color: rgb(71, 71, 71);
  }
  .fa-linkedin {
    color: rgb(37, 100, 235);
  }

  #contact img {  
    width: 100px;
    border-radius: 150px;
  }

.contact-photo{
  width: 300px;
}

.contact-body{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

/* .form {
display: flex;
/* flex-direction: column; */


.contact-body input{
  width: 200px;
  color: black;
  text-shadow: none;
  text-align: center;
}

.contact-body textarea{
  width: 200px;
  color: black;
  text-shadow: none;
  text-align: center;
}

.contact-body button {
/* display: flex; */
/* background-color: white; */
border-radius: 5px;
width: 60px;
height: 30px;
background-color: rgb(241, 168, 71);
position: relative;
left: 35%;
}
  /* * {
    border: 1px dotted rgb(241, 217, 1);
  } */

/* @media (min-width: 375px){
  #home{
    width: 375px;
  }
} */