body{
  margin: 0;
  background:url("./images/Colorful Chip with code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  size: 10px;
  line-height: 1.5em;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 8px #000000;
}
  /* * {
    border: 1px dotted rgb(241, 217, 1);
  } */

.nav-bar {
  width: 100%;
  position: fixed;
  padding: 14px 0px 14px;
  text-decoration: none;
  font-size: 1.25em;
  background-color:rgba(12, 77, 116, 0.75);
}

.nav-bar-ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  }

  h1 {display: flex;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    text-shadow: 5px 5px 8px #110edb;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2.5em;
  }

  /* h2 {
    text-shadow: 5px 5px 8px #d10a0a;
  } */

  #home {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
  }

  #about{
    padding-top: 50px;
    width: 100%;
  }


  .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-content p{
    margin-right: 6rem;
    margin-left: 2rem;
  }

  #projects{
    padding-top: 50px;
  }

  .projects-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30rem;
  }

  .p1Div,
  .p2Div,
  .p3Div {
    height: 15rem;
    width: 20rem;
    background-color: rgba(97, 155, 152, 0.534);
    border-radius: 50px;
    box-shadow: 0px 14px 50px rgba(14, 17, 196, 0.514);
    text-align: center;
    padding-top: 100px;
  }

  .p1Div:hover{
    box-shadow: 0px 14px 40px rgb(160, 20, 20);
  }
  
  .p2Div:hover{
    box-shadow: 0px 14px 40px rgb(228, 141, 27);
  }

  .p3Div:hover{
    box-shadow: 0px 14px 40px rgb(211, 214, 23);
  }

  .projects-list h3{
    text-align: center;
  }

  #contact{
    margin-top: 50px;
  }

  h2, h3 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contact-header{
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .contact-logos{
    justify-content: center;
  }

  .contact-logos ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
    list-style: none;
  }

  .fab:hover {
    transform: scale(1.5);
  }

  .fa-github {
    color: rgb(71, 71, 71);
  }
  .fa-linkedin {
    color: rgb(37, 100, 235);
  }

  #contact img {  
    width: 100px;
    border-radius: 150px;
  }
  #home img:hover, .contact-photo:hover {
    transform: scale(1.25); }

.contact-photo{
  width: 300px;
}

.contact-body{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.contact-body input{
  width: 200px;
  color: black;
  text-shadow: none;
  text-align: center;
}

.contact-body textarea{
  width: 200px;
  color: black;
  text-shadow: none;
  text-align: center;
}

.contact-body button {
border-radius: 5px;
width: 60px;
height: 30px;
background-color: rgb(241, 168, 71);
position: relative;
left: 35%;
}

@media (max-width: 375px){
 * {
    width: 100vw;
    overflow-x: hidden;
  }

  /* .bgimg { 
  } */

  #home h1{
  font-size: 1.8rem;
  }

  .projects-list {
    flex-direction: column;
  }

  .p1Div, .p2Div, .p3Div {
    display: flex;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh auto;
  }

  #about {
    width: 100%;
    /* padding: 0 1rem; */
  }

  .about-content{
    flex-direction: column;
  }
  
  .about-content p{
    line-height: 1.5em;
    text-align: justify;
    font-size: 0.59rem;
    margin-left: -1.5vw;
    width: 80vw;
  }

  .about-content img {
    margin-top: 1.5rem;
    margin-left: -26vw;
  }

  .contact-logos{
    padding-top: 0;
  }

  .fab{
   padding-left: 15vw;
   margin-top: 0;
  }

  .contact-body {
   display: flex;
   flex-direction: column;
  }

  .contact-photo{
    padding: 0 3.1rem;
    width: 275px;
  }

  .contact-header h2{
    padding-top: 4rem;
  }
.form h3{
  padding: 0;
}
  .form-fields{
    padding: 0 5.3rem;
  }

  .form-fields button{
    left: 20%;
  }
}

/* } *
 @media (max-width: 375px){
  #home img{
    
  }
} */